<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198427636686-r0a95cv9np1clg858dvuutme8kg29emv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198427636686-r0a95cv9np1clg858dvuutme8kg29emv</string>
	<key>API_KEY</key>
	<string>AIzaSyC7_jFDrwKPcj7kB5A6b7aEXPgLXvCFteE</string>
	<key>GCM_SENDER_ID</key>
	<string>198427636686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thingLog.ThingLog</string>
	<key>PROJECT_ID</key>
	<string>thinglog-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>thinglog-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198427636686:ios:c761ce1e748d6c04d9f19f</string>
</dict>
</plist>